<section class="content-header">
	<h1>
		Cadastrar Funcionários
	</h1>
	<ol class="breadcrumb">
		<li><a href="/"><i class="fa fa-dashboard"></i> DashBoard</a></li>
		<li class="active">Funcionários</li>
	</ol>
</section>

<%= render 'form' %>
