<section class="content-header">
  <h1>
    Editar Orcamentos
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> DashBoard</a></li>
    <li class="active">Orcamentos</li>
  </ol>
</section>

<%= render 'form' %>