<section class="content-header">
  <h1>
    Cadastrar Projetos
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> DashBoard</a></li>
    <li class="active">Projetos</li>
  </ol>
</section>

<%= render 'form' %>
